
\.vs/TextualRealityGameBookCreator/xs/sqlite3/

\.DS_Store

\.vs/TextualRealityGameBookCreator/xs/

TextualRealityGameBookCreator\.Tests\.Unit/bin/Debug/netcoreapp2\.2/

TextualRealityGameBookCreator\.Tests\.Unit/obj/Debug/netcoreapp2\.2/

TextualRealityGameBookCreator\.Tests\.Unit/obj/

TextualRealityGameBookCreator/bin/Debug/netstandard2\.0/

TextualRealityGameBookCreator/obj/Debug/netstandard2\.0/

TextualRealityGameBookCreator/obj/

*.dll

TextualRealityGameBookCreator.Tests.Unit/bin/Debug/netcoreapp3.0/Examples/

*.pdb

TextualRealityGameBookCreator.Tests.Unit/bin/Debug/netcoreapp3.0/

TextualRealityGameBookCreator/bin/Debug/netstandard2.1/
